@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUIRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUISemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUIBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

.page-body {
  position: relative;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #334155;
  line-height: 21px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: #F1F5F9;
  overflow-x: clip;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 270px;
  height: 50px;
  border: none;
  background-color: #EB2629;
  color: #fff;
  text-decoration: none;
  border-radius: 16px 0px;
}

.btn--outlined {
  background-color: transparent;
  color: #334155;
  border: 1px solid #EB2629;
}

.btn--light {
  background-color: #fff;
  color: #334155;
}

.btn--light::after {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 16px;
}

.title {
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  color: #0F172A;
  white-space: pre-wrap;
  max-width: 656px;
}


.txt {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-size: 400;
  color: #334155;
  white-space: pre-wrap;
}

.subtitle {
  margin-bottom: 64px;
  max-width: 656px;
}

.header {
  background-color: #fff;
}

.logo,
.logo__img {
  display: block;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 112px;
  font-weight: 600;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-navigation__item:not(:last-child) {
  margin-right: 32px;
}

.site-navigation__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.site-navigation__link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hexagon.svg");
}

.site-navigation__link--current {
  color: #EB2629;
}

.footer {
  background-color: #fff;
}

.footer__container {
  padding: 64px 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.footer__logo {
  margin-right: 32px;
}

.copyright {
  margin: 0;
  margin-right: auto;
  white-space: pre-wrap;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  width: 64px;
  height: 64px;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  color: transparent;
  background-color: #EB2629;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__social-list {
  margin-right: 32px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-link:not(:last-child) {
  margin-bottom: 8px;
}

.contact-link--email::before {
  background-image: url("../img/email.svg");
}

.contact-link--phone::before {
  background-image: url("../img/phone.svg");
}

.footer__review-links {
  margin-top: 32px;
  display: flex;
}

.review-link {
  display: flex;
  color: #475569;
  margin-right: 32px;
}

.vitrin {
  padding: 80px 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  min-height: 480px;
  margin-bottom: 32px;
}

.vitrin__inner {
  width: 464px;
}

.vitrin {
  background-image: url("../img/vitrin-bg.jpg");
  background-size: cover;
}

.vitrin__title {
  text-transform: uppercase;
  margin-top: 0;
}

.page-body svg {
  position: absolute;
  z-index: -1;
}

.page-body.home svg {
  top: -416px;
  left: calc(50% + 16px);
}

.mission {
  margin-top: 64px;
  margin-bottom: 128px;
  min-height: 464px;
  position: relative;
  padding-left: 96px;
  display: flex;
  align-items: center;
}

.mission__inner {
  max-width: 456px;
}

.mission__title {
  margin-top: 0;
}

.mission::after {
  content: "";
  display: block;
  width: 440px;
  height: 488px;
  position: absolute;
  right: 48px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/mission-bg.png");
}

.product-card {
  display: flex;
  padding: 32px;
  background: #E2E8F0;
  border-radius: 8px;
  height: 280px;
  margin-bottom: 32px;
}

.product-card__left {
  margin-right: 48px;
  min-width: 216px;
  height: 216px;
}

.product-card__img {
  display: block;
  width: 100%;
  height: 100%;
}

.product-card__middle {
  margin-right: 48px;
  align-self: center;
}

.product-card__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-top: 0;
  color: #EB2629;
  margin-bottom: 16px;
}

.product-card__release-form {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 32px;
}

.product-card__release-form {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 32px;
}

.product-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-card__prescription {
  margin: 0;
  width: 57px;
  height: 64px;
  margin-left: auto;
  margin-bottom: 72px;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hexagon.svg");
  background-size: cover;
}

.our-production {
  margin-bottom: 80px;
}

.our-production__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
}

.our-production__link-wrap {
  display: flex;
  justify-content: flex-end;
}

.our-production__link::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/more.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.page-body.about svg {
  display: none;
}

.about__vitrin .subtitle {
  margin-bottom: 0;
}

.about-card {
  margin-top: 32px;
  margin-bottom: 64px;
  background: #EB2629;
  border-radius: 8px;
  padding: 80px 72px;
  color: #fff;
  background-image: url(../img/about-card-hexagon.svg);
  background-repeat: no-repeat;
  background-position: 645px calc(100% + 102px);
}

.about-card__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
}

.about-card__text {
  color: #fff;
  max-width: 888px;
}

.foundation {
  margin: 64px 0;
}

.foundation__inner {
  display: grid;
  grid-template-columns: auto 440px;
  gap: 20px;
  grid-auto-rows: 1fr;
}

.about-mission,
.about-vision {
  background-color: #E2E8F0;
  border-radius: 8px;
  overflow: hidden;
}

.about-mission::before,
.about-vision::before {
  content: "";
  display: block;
  width: 100%;
  height: 360px;
  background-size: cover;
}

.about-mission::before {
  background-image: url("../img/about-mission.jpg");
}

.about-vision::before {
  background-image: url("../img/about-vision.jpg");
}

.mission-vision__inner {
  padding: 40px 104px 40px 64px;
}

.mission-vision-title {
  color: #1E293B;
  margin-bottom: 16px;
}

.txt.mission-vision-description {
  color: #475569;
}

.values {
  margin-bottom: 80px;
}

.value-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.value-item {
  width: 173px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}

.value-item::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  align-self: center;
  margin-bottom: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.value-item:first-child::before {
  background-image: url("../img/values/value-1.svg");
}

.value-item:nth-child(2)::before {
  background-image: url("../img/values/value-2.svg");
}

.value-item:nth-child(3)::before {
  background-image: url("../img/values/value-3.svg");
}

.value-item:nth-child(4)::before {
  background-image: url("../img/values/value-4.svg");
}

.value-item:nth-child(5)::before {
  background-image: url("../img/values/value-5.svg");
}

.value-item:last-child::before {
  background-image: url("../img/values/value-6.svg");
}

.value-item__title {
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.value-item:nth-child(odd) .value-item__title {
  background-color: #0F172A;
}

.value-item:nth-child(even) .value-item__title {
  background-color: #EB2629;
}

.page-body.products svg,
.page-body.productsshow svg {
  top: -1460px;
  left: calc(50% + 16px);
}

.products-filter {
  margin-top: 32px;
  margin-bottom: 64px;
}

.products__subtitle {
  margin-bottom: 32px;
}

.products {
  margin-bottom: 80px;
}

.filter-form {
  display: flex;
  min-height: 48px;
}

.filter-form__field:not(:last-of-type) {
  margin-right: 20px;
}

.filter-form__field:first-of-type {
  flex-grow: 1;
}

.filter-form__field:not(:first-of-type) {
  flex-grow: 2;
}

.filter-form__field {
  border: 1px solid #EB2629;
  border-radius: 8px;
  padding-left: 32px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.pagination li:first-child {
  order: -2;
}

.pagination li:last-child {
  order: -1;
}

.page-link {
  user-select: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 4px;
  z-index: 3;
}

.page-link.active {
  background-color: #eb2629;
  color: #fff;
}

.page-link.disabled {
  opacity: 0.5;
}

.pagination li:first-child .page-link,
.pagination li:last-child .page-link {
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination li:first-child .page-link {
  background-image: url("../img/more.svg");
  background-color: transparent;
  transform: rotate(180deg);
}

.pagination li:last-child .page-link {
  background-image: url("../img/more.svg");
  background-color: transparent;
}

.pagination-dots {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}
