@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUIRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUISemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUIBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

.page-body {
  position: relative;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #334155;
  line-height: 21px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: #F1F5F9;
  overflow-x: clip;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  width: 270px;
  height: 50px;
  border: none;
  background-color: #EB2629;
  color: #fff;
  text-decoration: none;
  border-radius: 16px 0px;
}

.btn--outlined {
  background-color: transparent;
  color: #334155;
  border: 1px solid #EB2629;
}

.btn--light {
  background-color: #fff;
  color: #334155;
}

.btn--light::after {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 16px;
}

.title {
  margin-top: 64px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
  color: #0F172A;
  white-space: pre-wrap;
}


.txt {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-size: 400;
  color: #334155;
  white-space: pre-wrap;
  max-width: 660px;
}

.subtitle {
  margin-bottom: 64px;
  max-width: 660px;
}

.header {
  background-color: #fff;
}

.logo,
.logo__img {
  display: block;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 112px;
  font-weight: 600;
}

.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.site-navigation__item:not(:last-child, :nth-child(2)) {
  margin-right: 32px;
}

.site-navigation__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.site-navigation__link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hexagon.svg");
}

.site-navigation__link--current {
  color: #EB2629;
}

.footer {
  background-color: #fff;
}

.footer__container {
  padding: 64px 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.footer__logo {
  margin-right: 32px;
}

.copyright {
  margin: 0;
  margin-right: auto;
  white-space: pre-wrap;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  width: 64px;
  height: 64px;
  overflow: hidden;
  display: block;
  border-radius: 50%;
  color: transparent;
  background-color: #EB2629;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__social-list {
  margin-right: 32px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.contact-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact-link::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-link:not(:last-child) {
  margin-bottom: 8px;
}

.contact-link--email::before {
  background-image: url("../img/email.svg");
}

.contact-link--phone::before {
  background-image: url("../img/phone.svg");
}

.footer__review-links {
  margin-top: 32px;
  display: flex;
}

.review-link {
  display: flex;
  color: #475569;
  margin-right: 32px;
}

.vitrin {
  padding: 80px 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  min-height: 480px;
  margin-bottom: 32px;
}

.vitrin__inner {
  width: 464px;
}

.vitrin {
  background-image: url("../img/vitrin-bg.jpg");
  background-size: cover;
}

.vitrin__title {
  text-transform: uppercase;
  margin-top: 0;
}

.page-body>svg {
  position: absolute;
  z-index: -1;
}

.page-body.home>svg {
  top: -416px;
  left: calc(50% + 16px);
}

.mission {
  margin-top: 64px;
  margin-bottom: 128px;
  min-height: 464px;
  position: relative;
  padding-left: 96px;
  display: flex;
  align-items: center;
}

.mission__inner {
  max-width: 456px;
}

.mission__title {
  margin-top: 0;
}

.mission::after {
  content: "";
  display: block;
  width: 440px;
  height: 488px;
  position: absolute;
  right: 48px;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/mission-bg.png");
}

.product-card {
  display: flex;
  padding: 32px;
  background: #E2E8F0;
  border-radius: 8px;
  height: 280px;
  margin-bottom: 32px;
}

.product-card__left {
  margin-right: 48px;
  min-width: 216px;
  height: 216px;
}

.product-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card__middle {
  margin-right: 48px;
  align-self: center;
}

.product-card__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  margin-top: 0;
  color: #EB2629;
  margin-bottom: 16px;
}

.product-card__release-form {
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 32px;
}

.product-card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product-card__prescription {
  margin: 0;
  width: 57px;
  height: 64px;
  margin-left: auto;
  margin-bottom: 72px;
  color: #fff;
  font-weight: 600;
  line-height: 18px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hexagon.svg");
  background-size: cover;
}

.our-production {
  margin-bottom: 80px;
}

.our-production__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
}

.our-production__link-wrap {
  display: flex;
  justify-content: flex-end;
}

.our-production__link::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/more.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.page-body.about>svg {
  display: none;
}

.about__vitrin .subtitle {
  margin-bottom: 0;
}

.about-card {
  margin-top: 32px;
  margin-bottom: 64px;
  background: #EB2629;
  border-radius: 8px;
  padding: 80px 72px;
  color: #fff;
  background-image: url('../img/about-card-hexagon.svg');
  background-repeat: no-repeat;
  background-position: 645px calc(100% + 102px);
}

.about-card__description {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 38px;
  line-height: 50px;
  font-weight: 700;
}

.about-card__text {
  color: #fff;
  max-width: 888px;
}

.foundation {
  margin: 64px 0;
}

.foundation__inner {
  display: grid;
  grid-template-columns: auto 440px;
  gap: 20px;
  grid-auto-rows: 1fr;
}

.about-mission,
.about-vision {
  background-color: #E2E8F0;
  border-radius: 8px;
  overflow: hidden;
}

.about-mission::before,
.about-vision::before {
  content: "";
  display: block;
  width: 100%;
  height: 360px;
  background-size: cover;
}

.about-mission::before {
  background-image: url("../img/about-mission.jpg");
}

.about-vision::before {
  background-image: url("../img/about-vision.jpg");
}

.mission-vision__inner {
  padding: 40px 104px 40px 64px;
}

.mission-vision-title {
  color: #1E293B;
  margin-bottom: 16px;
}

.txt.mission-vision-description {
  color: #475569;
}

.values {
  margin-bottom: 80px;
}

.value-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.value-item {
  width: 173px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}

.value-item::before {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  align-self: center;
  margin-bottom: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.value-item:first-child::before {
  background-image: url("../img/values/value-1.svg");
}

.value-item:nth-child(2)::before {
  background-image: url("../img/values/value-2.svg");
}

.value-item:nth-child(3)::before {
  background-image: url("../img/values/value-3.svg");
}

.value-item:nth-child(4)::before {
  background-image: url("../img/values/value-4.svg");
}

.value-item:nth-child(5)::before {
  background-image: url("../img/values/value-5.svg");
}

.value-item:last-child::before {
  background-image: url("../img/values/value-6.svg");
}

.value-item__title {
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.value-item:nth-child(odd) .value-item__title {
  background-color: #0F172A;
}

.value-item:nth-child(even) .value-item__title {
  background-color: #EB2629;
}

.page-body.products>svg,
.page-body.productsshow>svg {
  top: -1460px;
  left: calc(50% + 16px);
}

.products-filter {
  margin-top: 32px;
  margin-bottom: 64px;
}

.products__subtitle {
  margin-bottom: 32px;
}

.our-products {
  margin-bottom: 80px;
}

.filter-form {
  display: flex;
  min-height: 48px;
}

.filter-form__field-wrap:not(:last-of-type) {
  margin-right: 20px;
}

.filter-form__field-wrap:first-of-type {
  flex-grow: 1;
}

.filter-form__field-wrap:not(:first-of-type) {
  flex-grow: 2;
}

.filter-form__field {
  border: 1px solid #EB2629;
  border-radius: 8px;
  padding-left: 32px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
}

.filter-form__field-wrap {
  position: relative;
  display: flex;
}

.filter-form__field-wrap::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-12px, -50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/more.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.pagination li:first-child {
  order: -2;
}

.pagination li:last-child {
  order: -1;
}

.page-link {
  user-select: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  position: relative;
  border-radius: 4px;
  z-index: 3;
}

.page-link.active {
  background-color: #eb2629;
  color: #fff;
}

.page-link.disabled {
  opacity: 0.5;
}

.pagination li:first-child .page-link,
.pagination li:last-child .page-link {
  border-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination li:first-child .page-link {
  background-image: url("../img/more.svg");
  background-color: transparent;
  transform: rotate(180deg);
}

.pagination li:last-child .page-link {
  background-image: url("../img/more.svg");
  background-color: transparent;
}

.pagination-dots {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.product__title {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 68px;
  min-width: max-content;
}

.product__prescription {
  min-width: 57px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 19px;
  font-weight: 600;
  font-size: 14px;
  margin-right: -58px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/hexagon.svg");
}

.product__img {
  display: block;
  margin: 0 auto;
  max-width: 560px;
  height: min-content;
  object-fit: contain;
  margin-bottom: 32px;
}

.product__descripiton {
  max-width: 560px;
  margin: 32px auto;
}

.product__instruction {
  margin: 32px auto 64px auto;
}

.product__instruction::before {
  content: "";
  display: block;
  min-width: 24px;
  height: 24px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/download.svg");
}

.product__content {
  max-width: 560px;
  margin: 64px auto;
}

.page-body.contacts>svg {
  top: 0;
  left: 50%;
  transform: translate(-6%, -47%);
}

.map iframe {
  width: 100%;
  height: 480px;
  border-radius: 0 0 8px 8px;
}

.contacts__title {
  margin-top: 32px;
}

.contacts__subtitle {
  margin: 32px 0;
}

.contacts__contacts {
  display: flex;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
  align-items: center;
}

.contacts__contacts *:first-of-type {
  margin-bottom: 0;
  margin-right: 32px;
}

.contacts__inner {
  max-width: 560px;
}

.site-navigation__item--mobile {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1399px) {
  .container {
    max-width: 860px;
  }

  .title {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.3;
  }

  .subtitle {
    margin-bottom: 32px;
  }

  .vitrin {
    min-height: auto;
    padding: 48px 32px;
  }

  .vitrin__inner {
    width: 400px;
  }

  .mission {
    margin-top: 32px;
    padding-left: 32px;
    min-height: 400px;
    margin-bottom: 96px;
  }

  .mission__inner {
    max-width: 390px;
  }

  .mission::after {
    width: 340px;
    height: 400px;
    right: 0;
    background-size: contain;
  }

  .page-body.home>svg {
    top: -580px;
    left: 50%;
  }

  .product-card__left,
  .product-card__middle {
    margin-right: 32px;
  }

  .product-card__title {
    margin-bottom: 8px;
  }

  .product-card__release-form {
    margin-bottom: 16px;
  }

  .product-card__description {
    -webkit-line-clamp: 4;
  }

  .products-filter {
    margin-bottom: 32px;
  }

  .product__instruction {
    margin: 32px auto;
  }

  .product__content {
    margin: 32px auto;
  }

  .map iframe {
    height: 400px;
  }

  .page-body.contacts>svg {
    transform: translate(0%, -50%);
  }

  .footer__container {
    justify-content: center;
  }

  .copyright {
    margin-right: 32px;
  }

  .footer__social-list {
    order: -1;
    width: 100%;
    margin-bottom: 32px;
    justify-content: center;
  }

  .foundation__inner {
    grid-template-columns: 5fr 4fr;
  }

  .about-mission::before,
  .about-vision::before {
    height: 300px;
  }

  .mission-vision__inner {
    padding: 32px 48px;
  }

  .value-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .value-item {
    margin: 0 16px 32px 0;
  }

  .about-card {
    padding: 32px 48px;
    margin-bottom: 32px;
  }

  .foundation {
    margin: 32px 0px;
  }

  .about-card__description {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 32px;
  }

  .foundation__inner {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }

  .values {
    margin-bottom: 56px;
  }

  .value-item {
    margin: 0;
  }

  .value-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 506px;
  }

  .main-navigation {
    flex-wrap: wrap;
    align-content: center;
    padding: 32px 0px;
  }

  .logo {
    width: 100%;
  }

  .footer__container {
    padding: 32px 0;
  }

  .footer__logo {
    order: -1;
    width: min-content;
    margin-bottom: 32px;
  }

  .copyright {
    margin-right: 0;
  }

  .footer__social-list {
    width: min-content;
    margin: 0;
    margin-bottom: 32px;
  }

  .footer__contacts {
    order: -1;
    margin-right: 32px;
  }

  .vitrin {
    padding: 48px;
    background-image: linear-gradient(to right, #c7cfd9, #e9ecf1);
  }

  .vitrin__inner {
    width: 100%;
  }

  .title {
    font-size: 32px;
    margin-top: 24px;
  }

  .page-body>svg {
    display: none;
  }

  .mission {
    padding: 0 48px;
    min-height: auto;
    margin-bottom: 56px;
  }

  .mission::after {
    display: none;
  }

  .vitrin__title {
    margin-top: 0;
  }

  .product-card__description {
    -webkit-line-clamp: 3;
  }

  .product-card {
    position: relative;
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 16px;
  }

  .product-card__left {
    min-width: 160px;
    width: 160px;
    height: 160px;
  }

  .product-card__middle {
    width: 208px;
  }

  .product-card__title {
    font-size: 24px;
    line-height: 1.3;
  }

  .product-card__release-form {
    margin-bottom: 8px;
  }

  .product-card__right {
    width: min-content;
    margin-left: auto;
  }

  .product-card__prescription {
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 0;
  }

  .our-production {
    margin-bottom: 56px;
  }

  .our-products {
    margin-bottom: 56px;
  }

  .filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    grid-auto-rows: 48px;
  }

  .filter-form__field-wrap:first-of-type,
  .filter-form__field-wrap:not(:first-of-type) {
    margin: 0;
  }

  .filter-form__field-wrap:last-of-type {
    grid-column: span 2;
  }

  .product__prescription {
    margin-right: -32px;
  }

  .contacts__contacts {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 360px;
  }

  .site-navigation {
    margin-top: 16px;
  }

  .site-navigation__item--mobile {
    display: block;
    visibility: visible;
  }

  .site-navigation__item:nth-child(2) {
    margin-right: 32px;
  }

  .contacts-link {
    display: none;
    visibility: hidden;
  }

  .product-card__left {
    margin: 0;
    width: 80%;
    margin-bottom: 16px;
  }

  .product-card__middle {
    margin: 0;
    width: 100%;
    margin-bottom: 32px;
  }

  .product-card__right {
    margin: 0;
  }

  .value-list {
    grid-template-columns: 1fr 1fr;
  }

  .product__img {
    width: 100%;
  }

  .map iframe {
    height: 300px;
  }
}

.dashboard {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #334155;
  color: #fff;
  height: 100vh;
  z-index: 1;
}

.dashboard--closed {
  width: 0;
}

.dash-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dashboard--closed .dash-nav {
  display: none;
  visibility: hidden;
}

.dash-nav__link {
  text-decoration: none;
  padding: 8px 32px;
  display: block;
  min-width: 240px;
}

.dash-nav__link:hover,
.logout:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.dash-nav__link--current {
  background-color: rgba(0, 0, 0, 0.2);
}

.logout {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-decoration: none;
  padding: 8px 32px;
  width: 100%;
}

.dashboard--closed .logout {
  display: none;
  visibility: hidden;
}

.dash__btn {
  display: block;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 24px;
  height: 56px;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.dash__icon-right {
  display: none;
}

.dashboard--closed .dash__icon-left {
  display: none;
}

.dashboard--closed .dash__icon-right {
  display: inline-block;
}

.text-btn {
  position: absolute;
  right: 0px;
  top: 0;
  border: 0;
  background: #fff;
  width: 20px;
  height: 20px;
  outline: 1px solid red;
  cursor: pointer;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.text-btn--edit {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 490.273 490.273'%3E%3Cpath d='m313.548 152.387-230.8 230.9c-6.7 6.7-6.7 17.6 0 24.3 3.3 3.3 7.7 5 12.1 5s8.8-1.7 12.1-5l230.8-230.8c6.7-6.7 6.7-17.6 0-24.3-6.6-6.8-17.5-6.8-24.2-.1zM431.148 191.887c4.4 0 8.8-1.7 12.1-5l25.2-25.2c29.1-29.1 29.1-76.4 0-105.4l-34.4-34.4c-14.1-14.1-32.8-21.8-52.7-21.8-19.9 0-38.6 7.8-52.7 21.8l-25.2 25.2c-6.7 6.7-6.7 17.6 0 24.3l115.6 115.6c3.3 3.2 7.7 4.9 12.1 4.9zm-78.2-145.9c7.6-7.6 17.7-11.8 28.5-11.8 10.7 0 20.9 4.2 28.5 11.8l34.4 34.4c15.7 15.7 15.7 41.2 0 56.9l-13.2 13.2-91.4-91.4 13.2-13.1z'/%3E%3Cpath d='m162.848 467.187 243.5-243.5c6.7-6.7 6.7-17.6 0-24.3s-17.6-6.7-24.3 0l-239.3 239.5-105.6 14.2 14.2-105.6 228.6-228.6c6.7-6.7 6.7-17.6 0-24.3-6.7-6.7-17.6-6.7-24.3 0l-232.6 232.8c-2.7 2.7-4.4 6.1-4.9 9.8l-18 133.6c-.7 5.3 1.1 10.6 4.9 14.4 3.2 3.2 7.6 5 12.1 5 .8 0 1.5-.1 2.3-.2l133.6-18c3.7-.4 7.2-2.1 9.8-4.8z'/%3E%3C/svg%3E");
}

.text-btn--reset {
  transform: translateY(calc(-100% - 1px)) translateX(calc(-200% - 2px));
  outline: 1px solid black;
}

.text-btn--save {
  transform: translateY(calc(-100% - 1px)) translateX(calc(-100% - 1px));
  outline: 1px solid black;
}

.text-btn--cancel {
  transform: translateY(calc(-100% - 1px));
  outline: 1px solid black;
}

.shake {
  animation: shake 0.6s;
  position: relative;
  z-index: 10;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.action {
  position: absolute;
  bottom: calc(100% + 1px);
  right: -1px;
  z-index: 1;
  width: max-content;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px 4px 0 0;
  font-size: 13px;
  line-height: 1;
  cursor: pointer;
}

.action--edit {
  background-color: red;
}

.action--save {
  background-color: #00D72F;
}

.action--cancel {
  background-color: #959595;
  right: 70px;
}

.action--cancel:hover {
  background-color: red;
  z-index: 2;
}

.action--cancel:hover+* {
  outline: 1px solid red !important;
}

.action--save:disabled,
.action--cancel:disabled {
  background-color: #959595;
  cursor: context-menu;
  z-index: 0;
  pointer-events: none;
}

.text-aware {
  position: absolute;
  font-size: 13px;
  top: 100%;
  color: red;
}

.text-aware--success {
  color: #00D72F;
}
